<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css" />

<h1>Eat Da Burger</h1>

<h2>Burgers</h2>
<style>



body{background-color: yellow};
h1{text-align: center;
font-size: 100px !important}

#addburger{background-color: green}



</style>
<ul>
  {{#each burgers}}
  {{!--this is a for loop itterating through the burgers object--}}
    {{#unless devoured}}
    {{!--this is a if/else statement--}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/devoured-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<img src="/../burger.png" alt="Sorry I ate it!" height="42" width="42">

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured<br>
    <input type="radio" name="devoured" value="0"> not devoured
  </div>

  <button type="submit" class="btn btn-success" id="addburger">Add a burger</button>
</form>
